# Client stubs
/monocle/webapi.py linguist-generated=true
/web/src/components/WebApi.res linguist-generated=true
# Protobuf messages
/monocle/*pb2.py* linguist-generated=true
/web/src/messages/* linguist-generated=true
/haskell/codegen/Monocle/*.hs linguist-generated=true
/haskell/src/Monocle/Api/HTTP.hs linguist-generated=true
/haskell/src/Monocle/Api/Client/Api.hs linguist-generated=true
# OpenAPI
/doc/openapi.yaml linguist-generated=true
