package proto3-suite
  flags: -swagger -large-records

packages: .

-- Disregard all upper bounds when dependency solving
allow-newer: all

source-repository-package
    type: git
    location: https://github.com/TristanCacqueray/proto3-suite
    tag: dc8eee9d8c58d959e43038cdc2c282d50bcff565
