services:
  api:
    command: monocle api
    depends_on:
      - elastic
    env_file: ".secrets"
    environment:
      MONOCLE_API_PORT: '8080'
      MONOCLE_CONFIG: /etc/monocle/config.yaml
      MONOCLE_ELASTIC_URL: http://elastic:9200
      MONOCLE_PUBLIC_URL: "${COMPOSE_MONOCLE_PUBLIC_URL:-http://localhost:8080}"
      MONOCLE_WEBAPP_PATH: /usr/share/monocle/webapp/
      MONOCLE_WEBAPP_TITLE: "${COMPOSE_MONOCLE_WEBAPP_TITLE:-Monocle}"
    healthcheck:
      retries: 6
      test: "curl --silent --fail localhost:8080/health || exit 1"
      timeout: "60s"
    image: "quay.io/change-metrics/monocle:${COMPOSE_MONOCLE_VERSION:-latest}"
    ports:
      - "${COMPOSE_MONOCLE_API_ADDR:-0.0.0.0}:${COMPOSE_MONOCLE_API_PORT:-8080}:8080"
    restart: unless-stopped
    volumes:
      - "./etc:/etc/monocle:z"
  crawler:
    command: monocle crawler
    depends_on:
      - api
    env_file: ".secrets"
    environment:
      MONOCLE_CONFIG: /etc/monocle/config.yaml
      MONOCLE_PUBLIC_URL: http://api:8080
    healthcheck:
      retries: 6
      test: "curl --silent --fail localhost:9001/health || exit 1"
      timeout: "60s"
    image: "quay.io/change-metrics/monocle:${COMPOSE_MONOCLE_VERSION:-latest}"
    restart: unless-stopped
    volumes:
      - "./etc:/etc/monocle:z"
  elastic:
    environment:
      ES_JAVA_OPTS: "-Xms${COMPOSE_ES_XMS:-512m} -Xmx${COMPOSE_ES_XMX:-512m}"
      discovery.type: single-node
    expose:
      - 9200
    healthcheck:
      retries: 6
      test: "curl --silent --fail localhost:9200/_cluster/health || exit 1"
      timeout: "60s"
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.1
    restart: unless-stopped
    ulimits:
      nofile:
        hard: 65535
        soft: 65535
    volumes:
      - "./data:/usr/share/elasticsearch/data:Z"
version: '3'
