---
tenants:
  - index: tenant1
    crawler:
      loop_delay: 10
      github_orgs:
        - name: tektoncd
          updated_since: "2020-03-15"
          token: "123"
          base_url: https://github.com
  - index: tenant2
    crawler:
      loop_delay: 10
      gerrit_repositories:
        - name: ^zuul/.*
          updated_since: "2020-03-15"
          base_url: https://review.opendev.org
