workspaces:
  - index: tenant1
    crawlers_api_key: CHANGE_ME
    crawlers:
      - name: github-tektoncd
        provider:
          github_organization: tektoncd
          github_token: <github_token>
        update_since: '2020-03-15'

  - index: tenant2
    crawlers_api_key: CHANGE_ME
    crawlers:
      - name: gerrit-opendev
        provider:
          gerrit_url: https://review.opendev.org
          gerrit_repositories:
            - ^zuul/.*
        update_since: '2020-03-15'
