/* Patternfly overrides */
.pf-c-label {
  --pf-global--spacer--xs: 1px;
  --pf-global--spacer--sm: 4px;
}

#root {
    height: 100vh;
}

.footer {
    max-height: 70px;
}

body {
    height: 100%;
}
